<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %logger{48} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.test" level="WARN" />
    <logger name="org.springframework.web.servlet.PageNotFound" level="ERROR" />
    <logger name="com.jayway.jsonpath" level="WARN" />
    <logger name="com.entloom" level="INFO" />
    <logger name="com.entloom.crud.starter.web.error.CrudHttpExceptionTranslator" level="ERROR" />
    <logger name="com.entloom.crud.core.governance.audit.LoggingCrudGovernanceAuditRecorder" level="WARN" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
